body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    padding: 60px;
    background-color: hwb(0 88% 7%);
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(0.8, 1fr);
    gap: 50px;
  }
  
  .card {
    border: 9px solid #fcfcfc;
    padding: 10px;
    background: rgb(236, 139, 139);
    text-align: center;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .hidden {
    display: none;
  }
  
  .error {
    color: rgb(10, 10, 10);
    margin-top: 10px;
  }
  